/* CSS files add styling rules to your content */

body {
  font-family: arial;
  background: #f4f4f4;
  line-height:1.5em;
  
}

header{
  background:#333;
  color:#fff;
  padding:20px;
  text-align:center;
  border-bottom:4px #000 solid ; 
  margin-bottom:10px;
}

#container{
  width:90%;
  margin:auto;
  padding:10px;
}
h1 {
  font-style: italic;
  color: #373fff;
}

